.DS_Store
paths_all_files.txt
archive_app
__pycache__
__init__.py
.vscode
*.xls
*.xlsx
build
dist
*.txt
*.jpg
*.pdf
!tests/**/*.pdf
!instrucciones_clasificador.txt
!portada_dossier_partituras.pdf
*.exe
*.yml
*.db
presets.json
pieces_presets.json
.pytest_cache
data/logs/
tests/**/data